<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ian Whitney's Resume</title>
		<meta name="description" content="Ian Whitney's Resume">
		<meta name="author" content="Ian Whitney">
		<link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	</head>
	<body class='container'>
		<header class='page-header hero-unit' role='banner'>
			<h1>Ian Whitney</h1>
    </header>
    <article role='main'>
      <section>
        <h1>Contact</h1>
        <p>
          <strong>Email</strong>: <%= ENV['contact_email'] %><br />
          <strong>Phone</strong>: <%= ENV['contact_phone'] %><br />
          <strong>Address</strong>: <%= ENV['contact_address'] %><br />
          <strong>GitHub</strong>: https://github.com/IanWhitney<br />
        </dl>
      </section>
      <section>
        <h1>Employment</h1>
        <article class='job'>
          <%= jobs['job_07_2003_ssai'] %>
        </article>
        <article class='job'>
          <%= jobs['job_04_2002_gelco'] %>
        </article>
        <article class='job'>
          <%= jobs['job_12_1999_open_eye'] %>
        </article>
      </section>
      <section>
        <h1>Personal Projects</h1>
        <article>
          <%= personal %>
        </article>
    </article>
	</body>
</html>

